@import url("./reset.css");
@import url("./root.css");
@import url("./layout.css");
@import url("./upload.css");
@import url("./search.css");
@import url("./datatable.css");
@import url("./nodegraph.css")

/* Search Overlay */
#search-overlay {
    background: var(--background);
    padding: var(--unit);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    transition: var(--transition-default);
}